.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.events-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}